@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

:root {
    --navbar-blue: #1992d4;
    --grey-bg: rgba(226,232,240,255);
}

body {
    height: 100vh;
}

.dashboard {
    display: grid;
    grid-template-columns: minmax(260px, 1fr) 4fr;
    height: 100%;
}

.side-nav {
    background-color: var(--navbar-blue);
    padding: 15px;
    font-size: calc(14px + 0.3vw); 
    font-weight: 600;
}

.header {
    color: #ffffff;
    display: grid;
    grid-template-columns: 50px 1fr;
    gap: 15px;
    align-items: center;
    margin-bottom: 50px;
}

.menu div {
    padding: 10px;
    display: grid;
    grid-template-columns: 50px 1fr;
    gap: 5px;
    align-items: center;
}

.menu div:hover {
    background-color: #ffffff33;
}

#sidebar-gap {
    margin-top: 50px;
}
.side-nav a {
    text-decoration: none;
    color: #ffffff;
}

img.small {
    height: 20px;
}

.side-nav img {
    filter: invert(100%) sepia(0%) saturate(7500%) 
    hue-rotate(354deg) brightness(103%) contrast(103%);
    justify-self: center;;
}

.header > img {
    height: 50px;
} 

.top {
    padding: 20px 50px 10px;
    box-shadow: 0 3px 3px 2px #ccc;
}

.medium {
    height: 50px;
}

.top div:first-child {
    display: grid;
    grid-template-columns: 30px 1fr 30px 50px 150px;
    gap: 20px;
    place-items: center;
}

.top > .first > span {
    font-size: 18px;
    font-weight: 500;
}

.top input {
    border: 1px solid var(--grey-bg);
    background-color: var(--grey-bg);
    border-radius: 10px;
    height: 30px;
    outline: 0;
    padding: 10px;
}

.top > .first > div {
    display: grid;
    grid-template-columns: 5fr 3fr;
    width: 100%;
}

.second {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 80px 1fr 100px 100px 100px;
    align-items: center;
    gap: 20px;
}

.second img {
    height: 80px;
}

.second button {
    background-color: var(--navbar-blue);
    width: 100px;
    padding: 7px 0px 7px 0px;
    border-radius: 15px;
    border-style: none;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
}

.second h1 {
    font-size: 22px;
    min-width: 40px;
}
.second button:hover {
    transform: scale(1.1) perspective(1px);
}